<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="body-full-height">
<head th:include="layout :: html-head" th:with="title='Login'"></head>
    <body>
        
        <div class="login-container">
        
            <div class="login-box animated fadeInDown">
                <div class="login-logo"></div>
                <div class="login-body">
                    <div class="login-title"><strong>Please login</strong></div>
                    <form action="#" autocomplete="on" th:action="@{/login}" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
                        </div>
                    </div>

                    <div align="center" th:if="${param.error}">
                        <p>Email or Password invalid, please verify</p>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="#" th:href="|/forgot_password|" class="btn btn-link btn-block">Forgot your password?</a>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-info btn-block" type="submit">Log In</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="login-footer">
                    <div class="pull-left">
                        &copy; 2017 Mathematics Magic
                    </div>
                    <div class="pull-right">
                        <a href="#">About</a> |
                        <a href="#">Privacy</a> |
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>
            
        </div>
        
    </body>
</html>






