<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:include="layout :: html-head" th:with="title='Mathemagica'"></head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">
            <!-- START PAGE SIDEBAR -->
            <div th:replace="layout :: html-sidebar"></div>
            <!-- END PAGE SIDEBAR -->
            
            <!-- PAGE CONTENT -->
            <div th:replace="layout :: html-content"></div>
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <!-- MESSAGE BOX-->
        <div th:replace="layout :: html-message-box"></div>
        <!-- END MESSAGE BOX-->

        <!-- START PRELOADS -->
        <div th:replace="layout :: html-preload"></div>
        <!-- END PRELOADS -->                  
        
    <!-- START SCRIPTS -->
        <div th:replace="layout :: html-scripts"></div>
    <!-- END SCRIPTS -->         
    </body>
</html>






